[submodule "brandy/brandy-2.0/spl-pub"]
	path = brandy/brandy-2.0/spl-pub
	url = https://github.com/bazzonrobocon/t113-x-tina-spl-pub
[submodule "brandy/brandy-2.0/u-boot-2018"]
	path = brandy/brandy-2.0/u-boot-2018
	url = https://github.com/bazzonrobocon/t113-x-tina-u-boot-2018
[submodule "kernel/linux-5.4"]
	path = kernel/linux-5.4
	url = https://github.com/bazzonrobocon/t113-x-tina-linux-5.4
[submodule "brandy/brandy-2.0/tools/toolchain"]
	path = brandy/brandy-2.0/tools/toolchain
	url = https://github.com/bazzonrobocon/t113-x-tina-toolchain
[submodule "buildroot/buildroot-201902"]
	path = buildroot/buildroot-201902
	url = https://github.com/bazzonrobocon/t113-x-tina-buildroot-buildroot-201902
[submodule "buildroot/package"]
	path = buildroot/package
	url = https://github.com/bazzonrobocon/t113-x-tina-buildroot-package
[submodule "openwrt/dl"]
	path = openwrt/dl
	url = https://github.com/bazzonrobocon/t113-x-tina-openwrt-dl
[submodule "openwrt/package"]
	path = openwrt/package
	url = https://github.com/bazzonrobocon/t113-x-tina-openwrt-package
[submodule "platform"]
	path = platform
	url = https://github.com/bazzonrobocon/t113-x-tina-platform
[submodule "prebuilt/hostbuilt"]
	path = prebuilt/hostbuilt
	url = https://github.com/bazzonrobocon/t113-x-tina-hostbuilt
[submodule "prebuilt/kernelbuilt/arm"]
	path = prebuilt/kernelbuilt/arm
	url = https://github.com/bazzonrobocon/t113-x-tina-kernelbuilt-arm
[submodule "prebuilt/rootfsbuilt/arm"]
	path = prebuilt/rootfsbuilt/arm
	url = https://github.com/bazzonrobocon/t113-x-tina-rootfsbuilt-arm
[submodule "rtos"]
	path = rtos
	url = https://github.com/bazzonrobocon/t113-x-tina-rtos
